@@if(context.main) {
<footer class="section fp-auto-height main-type">
    <div class="foot-top">
        <a href="/page/sub_06_01.html" class="btn btn-lg btn-border-white no-round">빠른 상담문의</a>
    </div>
}
@@if(!context.main){
<footer>
}
    <div class="foot-bottom">
        <p class="foot-logo"><img src="/images/logo.png" alt="에비던스"></p>
        <ul class="info">
            <li class="pc">(주)에비던스 임플란트</li>
            <li><span class="tit mob">주소</span>[41065]대구 동구 이노밸리로 32</li>
            <li class="pc"><a href="" class="link-point">개인정보처리방침</a></li>
        </ul>
        <ul class="info">
            <li><span class="tit mob">전화</span><span class="tit pc">Tel : </span>053)817-7767 / +82-53-817-7767</li>
            <li><span class="tit mob">팩스</span><span class="tit pc">Fax : </span>053)817-7768 / +82-53-817-7768</li>
            <li><span class="tit mob">이메일</span><span class="tit pc">E-mail : </span>ebi@ebiimplant.com</li>
        </ul>
        <p class="copy">COPYRIGHT@EVIDENCEIMPLANT.LTD ALL RIGHT RESERVED.</p>
    </div>
</footer>