<header id="header">
    <div class="head-cont">
        <h1><a href="/"><span class="blind">에비던스 메인으로 이동</span></a></h1>
        <nav id="gnb">
            <a href="/page/sub_01_01.html"@@if(context.cate01){ class="active"}>회사소개</a>
            <a href="/page/sub_02_01.html"@@if(context.cate02){ class="active"}>Evience Implant</a>
            <a href="/page/sub_03.html"@@if(context.cate03){ class="active"}>제품소개</a>
            <a href="/page/sub_04_01.html"@@if(context.cate04){ class="active"}>임상센터</a>
            <a href="/page/sub_05_01.html"@@if(context.cate05){ class="active"}>홍보센터</a>
            <a href="/page/sub_06_01.html"@@if(context.cate06){ class="active"}>고객센터</a>
        </nav>
        <nav class="my-menu">
            <!-- 로그인 전 -->
            <a href="/page/login.html" class="btn btn-sm btn-border-white rounded">로그인</a>
            <!-- <a href="/page/join.html" class="btn btn-sm btn-border-white rounded">회원가입</a> -->
            <!-- // 로그인 전 -->
            <!-- 로그인 후 -->
            <a href="/page/mypage01.html" class="btn btn-sm btn-border-white rounded">마이페이지</a>
            <!-- <a href="/page/logout.html" class="btn btn-sm btn-border-white rounded">로그아웃</a> -->
            <!-- // 로그인 후 -->
        </nav>
        <button type="button" class="menu-all" aria-label="전체메뉴 보기"><span class="bar"></span></button>
    </div>
    <div class="menu-all-wrap">
        <div class="menu-container">
            <div class="col">
                <p class="dep1" aria-hidden="true">회사소개</p>
                <button type="button" class="dep1-btn" aria-label="하위메뉴 보기">회사소개</button>
                <ul>
                    <li><a href="/page/sub_01_01.html">인사말</a></li>
                    <li><a href="/page/sub_01_02.html">비전</a></li>
                    <li><a href="/page/sub_01_03.html">회사연혁</a></li>
                    <li><a href="/page/sub_01_04.html">CI/BI</a></li>
                    <li><a href="/page/sub_01_05.html">수상/인증</a></li>
                    <li><a href="/page/sub_01_06.html">오시는 길</a></li>
                </ul>
            </div>
            <div class="col">
                <p class="dep1" aria-hidden="true">Evidence Implant</p>
                <button type="button" class="dep1-btn" aria-label="하위메뉴 보기">Evidence Implant</button>
                <ul>
                    <li><a href="/page/sub_02_01.html">임플란트란?</a></li>
                    <li><a href="/page/sub_02_02.html">임플란트 관리/상식</a></li>
                    <li><a href="/page/sub_02_03_01.html">에비던스임플란트의 특별함</a></li>
                </ul>
            </div>
            <div class="col">
                <p class="dep1" aria-hidden="true">제품소개</p>
                <button type="button" class="dep1-btn" aria-label="하위메뉴 보기">제품소개</button>
                <ul>
                    <li><a href="/page/sub_03_01_01_01.html">Implant system</a></li>
                    <li><a href="/page/sub_03_02_01.html">Surgical Kit</a></li>
                    <li><a href="/page/sub_03_03.html">Solution system</a></li>
                    <li><a href="/page/sub_03_04.html">Catalog</a></li>
                </ul>
            </div>
            <div class="col">
                <p class="dep1" aria-hidden="true">임상센터</p>
                <button type="button" class="dep1-btn" aria-label="하위메뉴 보기">임상센터</button>
                <ul>
                    <li><a href="/page/sub_04_01.html">논문 및 포스터</a></li>
                    <li><a href="/page/sub_04_02.html">임상동영상</a></li>
                    <li><a href="/page/sub_04_03.html">임상자료</a></li>
                </ul>
            </div>
            <div class="col">
                <p class="dep1" aria-hidden="true">홍보센터</p>
                <button type="button" class="dep1-btn" aria-label="하위메뉴 보기">홍보센터</button>
                <ul>
                    <li><a href="/page/sub_05_01.html">공지&amp;뉴스</a></li>
                    <li><a href="/page/sub_05_02.html">보도자료</a></li>
                    <li><a href="/page/sub_05_03.html">행사갤러리</a></li>
                    <li><a href="/page/sub_05_04.html">동영상갤러리</a></li>
                </ul>
            </div>
            <div class="col">
                <p class="dep1" aria-hidden="true">고객센터</p>
                <button type="button" class="dep1-btn" aria-label="하위메뉴 보기">고객센터</button>
                <ul>
                    <li><a href="/page/sub_06_01.html">문의하기</a></li>
                    <li><a href="/page/sub_06_02.html">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>